<!DOCTYPE html>
<html>
  <head>
    <title>MyCoOpt</title>
    <%= favicon_link_tag 'favicon.ico'  %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <%# <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


  </head>

  <body>
    <script>
      window.logo="<%= image_url('final-logo.png') %>"
      window.favicon="<%= image_url('favicon.ico') %>"
    </script>
    <%= yield %>
  </body>
</html>
