<!DOCTYPE html>
<html>
  <head>
    <title>MyCoOpt</title>
    <%= favicon_link_tag 'favicon.ico'  %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="//db.onlinewebfonts.com/c/c8b39fed03f94d04076e43085def7a5e?family=Plantin" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Faustina:wght@300;400;450;500;600&display=swap" rel="stylesheet">

    
    <link href="//db.onlinewebfonts.com/c/519674de2a9cf96cde58e391fa5d51fe?family=GraphikLCGSemibold" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/9931abfc466a32ad3c3281bf1f8c1e5b?family=Graphik+LC+Medium" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/105007d99d9df64c50cc24d696d79555?family=Graphik+Web+Regular" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/4269f3960cb4b410c0d4cbb795e6ce72?family=Graphik+LC+Light" rel="stylesheet" type="text/css"/>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


  </head>

  <body>
    <script>
      window.logo="<%= image_url('final-logo.png') %>"
      window.favicon="<%= image_url('favicon.ico') %>"
      window.sprite="<%= image_url('sprite.svg') %>"
    </script>
    <%= yield %>
  </body>
</html>
