<!DOCTYPE html>
<html>
  <head>
    <title>MyCoOpt</title>
    <link rel="icon" sizes="16x16" href="/favicon.ico" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="//db.onlinewebfonts.com/c/c8b39fed03f94d04076e43085def7a5e?family=Plantin" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/105007d99d9df64c50cc24d696d79555?family=Graphik+Web+Regular" rel="stylesheet" type="text/css"/>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
